/* PRUEBAS DE INCLUIDOSS
<?php
include_once "navbar_admin.php";
?>
---
<?php
include_once "footer_Admin.php";
?>
<?php include_once "navbar.php"; ?>
<?php include_once "footer.php"; ?>
*/

.navbar-custom {
    background: #A3D5FF; 
    }
    body {
        background: #85C1E9;
    }
    footer {
        background: #2E86C1;
        size: 325dvh;
    }